*.bak
analysis/.fighist
analysis/.lintr
analysis/*.html
analysis/figs
model/scratch.jl
analysis/.Rhistory
model/bak/
model/fighist/
analysis/test.rmd
model/Makefile
model/.fighist/
data/
model/figs/beliefs/
model/tmp/
model/.cache/
