*.bak
analysis/.fighist
analysis/scratch.r
analysis/stats
analysis/.lintr
analysis/*.html
analysis/figs
model/scratch.jl
analysis/.Rhistory
model/bak/
model/fighist/
analysis/test.rmd
model/Makefile
model/.fighist/
data/
model/figs/beliefs/
model/tmp/
model/.cache/
analysis/exp1-scratch.rmd
analysis/exp2-old.r
analysis/exp2-scratch.rmd
analysis/load_exp1.r
model/results/
model/cache/
analysis/exp1_old.r
analysis/exp2_old.r
model/exp1_scratch.jl
model/exp2_scratch.jl
model/exp2_2step.jl
model/alt_fitting.jl
analysis/exp1_scratch.r
analysis/qualitative.r
model/exp1.sbatch
model/exp1_qual.jl
model/figs/accumulation.png
model/figs/strength_dist.png
model/diagnostics.jl
model/generate_timecourse.jl
analysis/Rplots.pdf
model/exp1_qual_beta.jl
analysis/test.r
model/.jukeignore
model/exp1_unused.jl
model/exp2_unused.jl
analysis/bak/
